<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <a href="/spaces">View Spaces</a>

    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="log out">
    </form>

    <h1>Requests you've made:</h1>
    <ul>
      <% @requests_made.each do |request| %>
      <li><%=request.space.name%></li>
      <%=request.space.description%>
      <%=request.reservation.parsed_date%>
      <% end %>
    </ul>

    <h1>Requests you've received:</h1>
    <ul>
      <%@requests_received.each do |request|%>
      <div class="request">
      <form action="/requests/<%=request.id%>" method="post">
      <input type="hidden" name="_method" value="patch">
      <input type="submit" name="status" value="deny">
      <input type="submit" name="status" value="approve">
      <li><%=request.user.email%></li>
      <%=request.space.name%>
      <%=request.space.description%>
      <%=request.reservation.parsed_date%>
      </form>
      </div>
      <% end %>
    </ul>
  </body>
</html>
